#define WIFI_SSID "your_wifi_ssid"
#define WIFI_PASS "your_wifi_password"
#define DISCORD_WEBHOOK_URL "your_discord_webhook_url"
#define IFTTT_KEY "your_ifttt_key"
#define BACKEND_HOST "your_backend_local_ip"